<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Отдельный человек</title>
</head>
<body>

<p th:text="${'Id: ' + person.getId() }">Value</p>
<p th:text="${'Имя: ' + person.getName() }">Value</p>
<p th:text="${'Год рождения: ' + person.getYear() }">Value</p>

<div th:if="${books.isEmpty()}">
        <p>Человек пока не взял ни одной книги</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Книги:</b>
    <br/>
    <table th:each="book: ${books}">
        <tr th:text="${book.getTitle()+ ', ' + book.getAuthor()+ ', ' + book.getYear()}">book</tr>
    </table>

</div>


<p></p>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить">
</form>
<p></p>
<a th:href="@{/people/{id}/update(id=${person.getId()})}">Обновить человека</a>
<a href="/people">Все люди</a>


</body>
</html>